<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>rangeslider.js - Programmatically toggle disabled state</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet prefetch' href='rangeslider.css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script src="https://d3js.org/d3.v4.js"></script>

</head>

<body>
  <h1>Administration console</h1>
  <div class="container w-75" style="background-color : red; height: 500px">
    <center>
      <h5>Y slider</h5>

      <div class="u-cf">
        <h2><code>data-orientation="vertical"</code></h2>
        <div style="height: 400px; background-color : yellow">
          <input type="range" min="0" max="5" data-orientation="vertical">
        </div>
      </div>
    </center>
  </div>

  <div class="container w-75">

    <h5>X slider</h5>
    <input type="range"/>
  </div>


  <br><br><br>
  <script src='/rangeslider.min.js'></script>

  <script type="text/javascript">
    $(function() {
      const $inputRange = $('input[type=range]');

      $inputRange.rangeslider({
        polyfill: false
      });

    });
  </script>

</body>
</html>
