<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>rangeslider.js - Programmatically toggle disabled state</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet prefetch' href='rangeslider.css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>

<body>
  <h1>Administration console</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <h5>Rotation slider</h5>
        <input id="rotationSlider" type="range" min="0" max="160000" step="1" value="80000" data-orientation="horizontal" />
        <br/>
        <h5>B Slider</h5>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="B_Slider" value="20" autocomplete="off" checked> ClockWise
          </label>
          <label class="btn btn-danger">
            <input type="radio" name="B_Slider" value="95" autocomplete="off"> Stop
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="B_Slider" value="120" autocomplete="off"> CounterClockWise
          </label>
        </div>
        <h5>Gripper</h5>
        <input id="gripperSlider" type="range" min="0" max="180" step="1" value="84" data-orientation="horizontal" />
      </div>
      <div class="col-md-2" style="height: 500px">
        <h5>Y slider</h5>
        <input id="Y_Slider" type="range" min="0" max="121600" step="10" value="150000" data-orientation="vertical" />
      </div>
      <div class="col-md-4" style="height: 500px">
        <button type="button" class="btn btn-warning" onclick="resetPosition();">Reset position</button>
        <button type="button" class="btn btn-info" onclick="addInstruction();">Add position</button>
        <br/><br/>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="modeAutoManual" value="auto" autocomplete="off" checked> Auto
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="modeAutoManual" value="manual" autocomplete="off"> Manual
          </label>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="modeLockUnlock" checked value="unlock" autocomplete="off"> Unlock
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="modeLockUnlock" value="lock" autocomplete="off"> Lock
          </label>
        </div>


        <h3>Instructions list</h3>
        <br/>
        <div style="height : 300px; overflow: scroll">
          <ul id="instructionsList" class="list-group">

          </ul>
        </div>
        <br/>
        <button type="button" class="btn btn-success" onclick="sendInstructions();">Send instructions</button>
      </div>
    </div>
  </div>
  <br/>

  <div class="container w-75">
    <h5>X slider</h5>
    <input id="X_Slider" type="range" min="0" max="15000" step="1" value="0" data-orientation="horizontal"/>
  </div>

  <script src='/rangeslider.min.js'></script>
  <script type="text/javascript" src='/myScript.js'></script>

</body>
</html>
